{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Khronos{% endblock %}</title>
    <script src="https://apis.google.com/js/api:client.js"></script>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/css/main.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/libs/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700">
    {% endblock %}
</head>
<body>
    <div class="main_container {% if not user.is_authenticated %}login{% endif %}">
    {% block svg %}{% endblock %}
    {% if user.is_authenticated %}
        <svg class="hidden">
            <symbol id="icon_switch" viewBox="0 0 32 32">
                <title>switch</title>
                <path class="path1" d="M20 4.581v4.249c1.131 0.494 2.172 1.2 3.071 2.099 1.889 1.889 2.929 4.4 2.929 7.071s-1.040 5.182-2.929 7.071c-1.889 1.889-4.4 2.929-7.071 2.929s-5.182-1.040-7.071-2.929c-1.889-1.889-2.929-4.4-2.929-7.071s1.040-5.182 2.929-7.071c0.899-0.899 1.94-1.606 3.071-2.099v-4.249c-5.783 1.721-10 7.077-10 13.419 0 7.732 6.268 14 14 14s14-6.268 14-14c0-6.342-4.217-11.698-10-13.419zM14 0h4v16h-4z"></path>
            </symbol>
        </svg>
    {% endif %}
        <header class="main_header">
            <a href="//ingsistemas.ufps.edu.co" title="Programa de Ingeniería de Sistemas" target="_blank">
                <figure>
                    <img class="logo" src="{% static 'images/logo_sistemas_h.png'%}" alt="Programa de Ingeniería de
                    Sistemas">
                </figure>
            </a>
            <h1 class="app_title">Khronos</h1>
            {% block main_header %}{% endblock %}
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:log-out' %}" onclick="signOut();" class="btn logout" title="Cerrar sesión">
                    <span class="icon_container">
                        <svg class="icon icon--sm" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_switch" />
                        </svg>
                    </span>
                </a>
            {% endif %}
        </header>

        <div class="content_container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="mensaje_container"></div>
    </div>
    <footer class="main_footer">
        <p class="copyright">Programa de Ingeniería de Sistemas. Todos los derechos reservados - 2018</p>
    </footer>
    <script>var cargarCalendarioVista = false, cargarCalendarioTemporalVista = false;</script>

    <script src="{% static 'scripts/libs/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/libs/ajax_config.js' %}"></script>
    <script src="{% static 'scripts/libs/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'scripts/libs/fullcalendar.min.js' %}"></script>
    <script src="{% static 'scripts/libs/popper.min.js' %}"></script>
    <script src="{% static 'scripts/libs/tooltip.min.js' %}"></script>
    <script src="{% static 'scripts/actions.js' %}"></script>
    <script src="{% static 'scripts/libs/loaders.css.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>