
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Inicio{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Bienvenido a Khronos, {{ user.nombres }}</h1>
        <p class="contexto--app-descripcion"><strong>Khronos</strong> le permite realizar de forma automática
            la calendarización de exámenes del semestre académico.</p>
        <h2 class="contexto--app-titulo">¿Qué es <strong>Khronos</strong> y cómo funciona?</h2>
        <p class="contexto--app-descripcion"><strong>Khronos</strong> es el Software de
        Calendarización de Exámenes del Programa de Ingeniería de Sistemas de la Universidad Francisco de Paula
        Santander.</p>
        <p class="contexto--app-descripcion">Este software utiliza una técnica de optimización basada en Algoritmos
            Genéticos, por medio de la cual evalúa un conjunto de soluciones candidatas y genera un calendario óptimo.
            La asignación la realiza utilizando como guía las <a href="{% url 'director-programa:configuracion-restricciones' %}"
               class="link">restricciones de optimización</a> configuradas en el sistema.</p>
        <h2 class="contexto--app-titulo">¿Qué tipo de exámenes se pueden programar?</h2>
        <p class="contexto--app-descripcion">La aplicación le permite programar el calendario para: primeros previos,
        segundos previos, exámenes finales y de habilitación/opcionales.</p>
        <p class="contexto--app-descripcion">Para programar un nuevo calendario diríjase a la opción "Programar Calendario".</p>
    {% endblock %}
