
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Calendario Temporal{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Calendario temporal de exámenes</h1>
        <p class="contexto--app-descripcion">Visualice el calendario temporal de exámenes pendientes por confirmar
            para el semestre en curso. Puede utilizar el filtro de búsqueda para modificar la consulta (tipo de exámenes
            y semestre del pénsum).</p>
        {% if semestre_academico_activo %}
            {% if periodo_examen_semestre %}
                <section class="section">
                    <div class="list_container indicador_activo">
                        <ul class="calendario_inactivos">
                            <li class="festivos-item macro_item macro_item--non_full">
                                <span class="info"><strong>Semestre activo: {{ semestre_academico_activo.anio }} -
                    {{ semestre_academico_activo.periodo }}</strong></span>
                                <div class="icon_box">
                                    <a class="fav_link icono--activo js-" data-fecha-festivo="2017-01-01"
                                    data-estado="true">
                                        <span class="icon_container">
                                            <span class="icon icon--sm"></span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section">
                    <form class="form form--horizontal">
                        <div class="form-grupo">
                            <div class="input_group input_group--5">
                                <label class="label" for="semestrePensumFiltrarCalendarioTemporal">Semestre Pénsum</label>
                                <select id="semestrePensumFiltrarCalendarioTemporal" name="semestrePensumFiltrarCalendarioTemporal" class="input">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="0" selected>Todos</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </section>
                <section class="section calendario">
                    <div class="col--left">
                        <div class="calendario_container box_container">
                            <div id='calendar_previsual' class="calendario"></div>
                        </div>
                    </div>
                </section>
                <section class="section">
                    <h1 class="section-titulo">Guardar calendario</h1>
                    <p class="descripcion">Confirme el calendario temporal del período actual para guardar la programación de exámenes.</p>
                    <div class="botones">
                        <a id="confirmarCalendarioBtn" target="_blank" class="btn btn--dark" type="submit">Confirmar calendario</a>
                    </div>
                </section>
            {% else %}
                <p class="contexto--app-descripcion"><strong>El sistema no registra ningún calendario temporal o período de exámenes pendiente.</strong></p>
            {% endif %}
        {% else %}
            <p class="contexto--app-descripcion"><strong>El sistema no registra ningún semestre activo.</strong></p>
        {% endif %}
    {% endblock %}

    {% block scripts %}
        <script>var cargarCalendarioVista = true, cargarCalendarioTemporalVista = true;</script>
    {% endblock %}
