
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Actualización de Datos{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Actualización de Horarios</h1>
        <p class="contexto--app-descripcion">Esta opción le permite actualizar los datos de los <strong>horarios y carga
            académica</strong> del semestre en curso.</p>
        <section class="section">
            <h1 class="section-titulo">Cargar archivo de horarios</h1>
            <p class="descripcion">Seleccione un archivo de Excel (.xlsx, .xls) con los horarios del semestre para actualizar la
                base de datos. <strong>Anotación:</strong> Tenga en cuenta que en la estructura del archivo,
                las columnas debe seguir el orden:
                <i><strong>Materia, Nombre, Código Docente, Nombre Docente, Horario, # Matriculados</strong>.</i></p>
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--3">
                        <label class="label" for="archivoHorarios">Archivo de Horarios</label>
                        <input id="archivoHorarios" name="archivoHorarios" type="file" class="input"/>
                    </div>
                    <div class="botones">
                        <button id="actualizarHorariosCargaBtn" class="btn btn--dark" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}
