
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Restricciones{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Restricciones de calendarización</h1>
        <p class="contexto--app-descripcion">Visualice las restricciones (condiciones) que el algoritmo de calendarización
            de <strong>Khronos</strong> tiene en cuenta para la programación del calendario de exámenes.
            El algoritmo clasifica los exámenes en <i>tipo I (previos y finales)</i> y
            <i>tipo II (habilitaciones y opcionales)</i>.</p>

        <h1 class="contexto--app-titulo">Exámenes tipo I</h1>

        <section class="section">
            <h1 class="section-titulo">Restricciones obligatorias</h1>
            <div class="list_container">
                <ul class="calendario_inactivos">
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">1. Los exámenes previos y finales deben ser programados en alguno de sus horarios de
                    clase asignados.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">2. No se pueden programar múltiples exámenes para un estudiante en el mismo horario.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">3. No se pueden programar exámenes en días NO hábiles.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">4. No se pueden programar múltiples exámenes para un docente en el mismo horario.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">5. Los exámenes se deben programar en un período de fechas limitado.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">6. Cada examen sólo puede ser programado una vez en cada corte de evaluación.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">7. No puede haber más de un examen en el mismo salón de clase durante el
                            mismo espacio de tiempo.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">8. Los exámenes para asignaturas del mismo semestre no deben cruzarse entre sí.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">9. Los exámenes deben ser programados en su horario más amplio siempre y cuando haya disponibilidad de días
            hábiles.</span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section">
            <h1 class="section-titulo">Restricciones de preferencia</h1>
            <p class="descripcion">Para incluir o descartar una restricción de preferencia, haga clic sobre el
                círculo <strong>verde</strong> y su estado se actualizará.</p>
            <div class="list_container">
                <ul class="calendario_inactivos">
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">1. Los exámenes cuyas asignaturas sean las de mayor peso (nivel de dificultad) deben quedar programados para la
            última semana del período de evaluaciones.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">2. Los exámenes deben quedar distribuidos a lo largo de las fechas disponibles de tal forma que cada semana de
            evaluación tenga una carga equivalente.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">3. Los grupos de la misma asignatura deben programarse en las fechas iguales o más cercanas posibles entre sí.</span>
                    </li>
                </ul>
            </div>
        </section>

        <h1 class="contexto--app-titulo">Exámenes tipo II</h1>

        <section class="section">
            <h1 class="section-titulo">Restricciones obligatorias</h1>
            <p class="descripcion">Los exámenes de habilitación y opcionales sólo cuentan con las restricciones obligatorias
                enumeradas a continuación, según el criterio calendarización aplicado a la solución.</p>
            <div class="list_container">
                <ul class="calendario_inactivos">
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">1. No se pueden programar exámenes en días NO hábiles.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">2. Los exámenes se deben programar en el período de fechas estipulado en el
                            calendario académico (normalmente tres días).</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">3. Un examen de habilitación u opcional sólo debe ser programado una vez.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">4. El número de exámenes de habilitación/opcionales debe ser equitativo
                            entre los días programados.</span>
                    </li>
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info">5. Los exámenes cuyas asignaturas sean las de mayor peso (nivel de dificultad)
                            deben quedar programados para los últimos días.</span>
                    </li>
                </ul>
            </div>
        </section>
    {% endblock %}
