
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Fechas Inactivas{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Calendario de días inactivos/festivos</h1>
        <p class="contexto--app-descripcion">Esta opción le permite visualizar los <strong>horarios y carga
            académica</strong> del semestre en curso.</p>
        <section class="section">
            {% if materias_horarios %}
                <div class="table_layout table_layout--estilo1 table_layout--full table_layout--resultados box_container">
                    <table id="tablaHorariosSemestre" class="table tablaHorariosSemestre">
                        <thead>
                            <tr>
                                <th>Asignatura</th>
                                <th>Grupo</th>
                                {# <th>Docente</th> #}
                                <th>Horario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cod_materia, materia in materias_horarios.items %}
                                <tr>
                                    <td>{{ materia.codigo }} {{ materia.nombre }}</td>
                                    <td>
                                        <table>
                                            {% for grupo in materia.grupos %}
                                                <tr style="background: 0;">
                                                    <td style="background: 0;">{{ grupo }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            {% for grupo, horarios in materia.grupos.items %}
                                                <tr style="background: 0;">
                                                    <td style="background: 0;">
                                                        <table>
                                                            {% for horario in horarios %}
                                                                <tr style="background: 0;">
                                                                    <td style="background: 0;">{{ horario.dia }} {{ horario.horainicial }} - {{ horario.horafinal }} {{ horario.salon }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                    {# <td></td> #}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="descripcion">No se encontraron horarios registrados.</p>
            {% endif %}
        </section>
    {% endblock %}

    {% block scripts %}
        <script>
            $(document).ready( function () {
                $('#tablaHorariosSemestre').DataTable({
                    "order": []
                });
                $('#tablaHorariosSemestre_filter label').css({
                    'display': 'inline-block'
                });
                $('input[aria-controls="tablaHorariosSemestre"], select[aria-controls="tablaHorariosSemestre"]').css({
                    'border': '1px solid rgba(0,0,0,.6)',
                    'border-radius': '3px',
                    'outline': '0',
                    'padding': '.4rem .8rem',
                    'margin': '1rem .5rem',
                    'display': 'inline-block'
                });
            });
        </script>
    {% endblock %}