
{% block navbar_app %}
    <nav id="navbar--app" class="navbar--app">
        <ul class="opciones_menu macromenu">
            <li class="item opciones_menu-item {% if macromenu_actual == 'index' %}active{% endif %}">
                <a href="{% url 'director-programa:index' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon-home"></use></svg>
                    </span><span class="info">Inicio</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'calendario' %}active{% endif %}">
                <a href="{% url 'director-programa:calendario' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon_calendar"></use></svg>
                    </span><span class="info">Calendario de Exámenes</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'programacion-calendario' %}active{% endif %}">
                <a href="{% url 'director-programa:programacion-calendario' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon-new-calendar"></use></svg>
                    </span><span class="info">Programar Calendario</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'cargar-horarios' %}active{% endif %}">
                <a href="{% url 'director-programa:cargar-horarios' %}">
                    <span class="icon_container">
                            <svg class="icon icon--sm"><use xlink:href="#icon-microsoftexcel"></use></svg>
                    </span><span class="info">Actualización de Horarios</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'ponderacion-dificultad' %}active{% endif %}">
                <a href="{% url 'director-programa:ponderacion-dificultad' %}">
                    <span class="icon_container">
                            <svg class="icon icon--sm"><use xlink:href="#icon-peso"></use></svg>
                    </span><span class="info">Ponderación de dificultad (asignaturas)</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'ver-horarios' %}active{% endif %}">
                <a href="{% url 'director-programa:ver-horarios' %}">
                    <span class="icon_container">
                            <svg class="icon icon--sm"><use xlink:href="#icon-horario"></use></svg>
                    </span><span class="info">Ver Horarios</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'registro-semestre' %}active{% endif %}">
                <a href="{% url 'director-programa:registro-semestre' %}">
                    <span class="icon_container">
                            <svg class="icon icon--sm"><use xlink:href="#icon-nuevo-semestre"></use></svg>
                    </span><span class="info">Registro de Semestre</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'configuracion-calendario' %}active{% endif %}">
                <a href="{% url 'director-programa:configuracion-calendario' %}">
                    <span class="icon_container">
                            <svg class="icon icon--sm"><use xlink:href="#icon-configuraciones"></use></svg>
                    </span><span class="info">Configuración de Semestre</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'registro-docente' %}active{% endif %}">
                <a href="{% url 'director-programa:registro-docente' %}">
                    <span class="icon_container">
                            <svg class="icon icon--sm"><use xlink:href="#icon-docente"></use></svg>
                    </span><span class="info">Registro Docente</span>
                </a>
            </li>

            <li class="item opciones_menu-item {% if macromenu_actual == 'festivos' %}active{% endif %}">
                <a href="{% url 'director-programa:festivos' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon-festivos"></use></svg>
                    </span><span class="info">Fechas Festivas</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'configuracion-restricciones' %}active{% endif %}">
                <a href="{% url 'director-programa:configuracion-restricciones' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon-lista"></use></svg>
                    </span><span class="info">Restricciones de Calendarización</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}