{% extends 'base.html' %}
{% load static %}
{% block title%}Schedulex | Inicio{% endblock %}

    {% block svg %}
        <svg class="hidden">
            <symbol id="icon_calendar" viewBox="0 0 30 32">
            <title>Calendario</title>
                <path class="path1" d="M10 12h4v4h-4zM16 12h4v4h-4zM22 12h4v4h-4zM4 24h4v4h-4zM10 24h4v4h-4zM16 24h4v4h-4zM10 18h4v4h-4zM16 18h4v4h-4zM22 18h4v4h-4zM4 18h4v4h-4zM26 0v2h-4v-2h-14v2h-4v-2h-4v32h30v-32h-4zM28 30h-26v-22h26v22z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_books" viewBox="0 0 36 32">
            <title>Materias</title>
                <path class="path1"
                      d="M7 4h-6c-0.55 0-1 0.45-1 1v22c0 0.55 0.45 1 1 1h6c0.55 0 1-0.45 1-1v-22c0-0.55-0.45-1-1-1zM6 10h-4v-2h4v2z"></path>
                <path class="path2"
                      d="M17 4h-6c-0.55 0-1 0.45-1 1v22c0 0.55 0.45 1 1 1h6c0.55 0 1-0.45 1-1v-22c0-0.55-0.45-1-1-1zM16 10h-4v-2h4v2z"></path>
                <path class="path3"
                      d="M23.909 5.546l-5.358 2.7c-0.491 0.247-0.691 0.852-0.443 1.343l8.999 17.861c0.247 0.491 0.852 0.691 1.343 0.443l5.358-2.7c0.491-0.247 0.691-0.852 0.443-1.343l-8.999-17.861c-0.247-0.491-0.852-0.691-1.343-0.443z"></path>
                <path class="path4" d="M29 27c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_bullhorn" viewBox="0 0 36 32">
                <title>Notificaciones</title>
                <path class="path1" d="M32 13.414c0-6.279-1.837-11.373-4.109-11.413 0.009-0 0.018-0.001 0.027-0.001h-2.592c0 0-6.088 4.573-14.851 6.367-0.268 1.415-0.438 3.102-0.438 5.047s0.171 3.631 0.438 5.047c8.763 1.794 14.851 6.367 14.851 6.367h2.592c-0.009 0-0.018-0.001-0.027-0.001 2.272-0.040 4.109-5.134 4.109-11.413zM27.026 23.102c-0.293 0-0.61-0.304-0.773-0.486-0.395-0.439-0.775-1.124-1.1-1.979-0.727-1.913-1.127-4.478-1.127-7.223s0.4-5.309 1.127-7.223c0.325-0.855 0.705-1.54 1.1-1.979 0.163-0.182 0.48-0.486 0.773-0.486s0.61 0.304 0.773 0.486c0.395 0.439 0.775 1.124 1.1 1.979 0.727 1.913 1.127 4.479 1.127 7.223s-0.4 5.309-1.127 7.223c-0.325 0.855-0.705 1.54-1.1 1.979-0.163 0.181-0.48 0.486-0.773 0.486zM7.869 13.414c0-1.623 0.119-3.201 0.345-4.659-1.48 0.205-2.779 0.323-4.386 0.323-2.096 0-2.096 0-2.096 0l-1.733 2.959v2.755l1.733 2.959c0 0 0 0 2.096 0 1.606 0 2.905 0.118 4.386 0.323-0.226-1.458-0.345-3.036-0.345-4.659zM11.505 20.068l-4-0.766 2.558 10.048c0.132 0.52 0.648 0.782 1.146 0.583l3.705-1.483c0.498-0.199 0.698-0.749 0.444-1.221l-3.853-7.161zM27.026 17.148c-0.113 0-0.235-0.117-0.298-0.187-0.152-0.169-0.299-0.433-0.424-0.763-0.28-0.738-0.434-1.726-0.434-2.784s0.154-2.046 0.434-2.784c0.125-0.33 0.272-0.593 0.424-0.763 0.063-0.070 0.185-0.187 0.298-0.187s0.235 0.117 0.298 0.187c0.152 0.169 0.299 0.433 0.424 0.763 0.28 0.737 0.434 1.726 0.434 2.784s-0.154 2.046-0.434 2.784c-0.125 0.33-0.272 0.593-0.424 0.763-0.063 0.070-0.185 0.187-0.298 0.187z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_commenting" viewBox="0 0 34 32">
                <title>Pendiente</title>
                <path class="path1" d="M11.429 16q0-0.946-0.67-1.616t-1.616-0.67-1.616 0.67-0.67 1.616 0.67 1.616 1.616 0.67 1.616-0.67 0.67-1.616zM18.286 16q0-0.946-0.67-1.616t-1.616-0.67-1.616 0.67-0.67 1.616 0.67 1.616 1.616 0.67 1.616-0.67 0.67-1.616zM25.143 16q0-0.946-0.67-1.616t-1.616-0.67-1.616 0.67-0.67 1.616 0.67 1.616 1.616 0.67 1.616-0.67 0.67-1.616zM32 16q0 3.107-2.143 5.741t-5.821 4.161-8.036 1.527q-1.964 0-3.768-0.321-3.089 3.089-7.768 4.089-0.929 0.179-1.536 0.232-0.214 0.018-0.393-0.107t-0.232-0.321q-0.071-0.268 0.357-0.661 0.089-0.089 0.42-0.384t0.455-0.42 0.42-0.455 0.429-0.563 0.366-0.661 0.357-0.857 0.259-1.027 0.223-1.295q-2.607-1.607-4.098-3.866t-1.491-4.813q0-3.107 2.143-5.741t5.821-4.161 8.036-1.527 8.036 1.527 5.821 4.161 2.143 5.741z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_device_mobile" viewBox="0 0 20 32">
                <title>device-mobile</title>
                <path class="path1" d="M18 0h-16c-1.103 0-2 0.896-2 2v28c0 1.105 0.896 2 2 2h16c1.105 0 2-0.895 2-2v-28c0-1.103-0.895-2-2-2zM9 2h2c0.551 0 1 0.448 1 1s-0.449 1-1 1h-2c-0.552 0-1-0.448-1-1s0.448-1 1-1zM11 30h-2c-0.552 0-1-0.449-1-1s0.448-1 1-1h2c0.551 0 1 0.449 1 1s-0.449 1-1 1zM18 26h-16v-20h16v20z"></path>
            </symbol>
        </svg>
    {% endblock %}

    {% block main_header %}
        <ul class="links">
            <li class="links-item">
                <a href="#!" title="Mi calendario">
                    <span class="icon icon--medium">
                        <svg class="icon--medium" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_calendar" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="links-item">
                <a href="{% url 'timetabling:cursos' %}" title="Mis cursos">
                    <span class="icon icon--medium">
                        <svg class="icon--medium" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_books" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="links-item">
                <a href="#!" title="Notificaciones" class="notificaciones">
                    <span class="icon icon--medium pendiente active">
                        <svg class="icon--medium" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_bullhorn" />
                        </svg>
                    </span>
                    <span class="icon icon--small notificaciones-indicador pendiente active">
                        <svg class="icon--small" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_commenting" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    {% endblock %}

    {% block content %}
        <section class="content_container home">
            <div class="calendar col--left">
                <h1 class="subtitle">Mi calendario - I 2016</h1>

                {% if cursos_examenes_list %}
                    <div class="list_container">
                        <ul class="examenes">
                        {% for curso, examenes in cursos_examenes_list %}
                            {% if examenes %}
                                <li class="examenes-item macro_item macro_item--full">
                                    <a id="macro_item_sublista_{{ forloop.counter0 }}" class="js-macroItemExamenes" href="#!" data-link="sublista_{{ forloop.counter0 }}">
                                        <span class="info">{{ curso.plandeestudios }}{{ curso.codigo }}-{{ curso.grupo }}: {{ curso.nombre }}</span>
                                        <div class="icon_container">
                                            <span class="icon icon--medium">
                                                <object class="icon--medium svg" type="image/svg+xml" data="{% static 'images/svg/navdown.svg' %}">
                                                  <img src="" />
                                                  <!-- fallback with png image for browsers with NO SVG support -->
                                                </object>
                                            </span>
                                        </div>
                                    </a>
                                    <ul id="examenes_sublista_{{ forloop.counter0 }}" class="sublist">
                                        {% for examen in examenes %}
                                            <li class="detalle_examen">
                                                {% if examen.tipo_examen == 1 %}
                                                    <p class="nombre_examen p--cp">
                                                {% elif examen.tipo_examen == 2 %}
                                                    <p class="nombre_examen p--cs">
                                                {% elif examen.tipo_examen == 3 %}
                                                    <p class="nombre_examen p--ct">
                                                {% elif examen.tipo_examen == 4 or examen.tipo_examen == 5 %}
                                                    <p class="nombre_examen p--cc">
                                                {% endif %}
                                                    {{ examen.get_tipo_examen_display }}
                                                </p>
                                                <p class="fecha_examen">Fecha: {{ examen.fecha_presentacion }}</p>
                                                <p class="hora_salon">Hora/Salón:
                                                    {{ examen.hora_inicio }} - {{ examen.hora_fin }} / {{ examen.salon }}
                                                </p>
                                                <p class="supervisor_examen">Supervisor: Maestro Simpson</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    No hay exámenes programados.
                {% endif %}
            </div>
            <div class="profile col--right">
                <div class="subcontainer">
                    <h2 class="profile-name subtitle subtitle--box">{{ nombres }}</h2>
                    <p class="username">Usuario: {{ user.get_full_codigo }}</p>
                    {% if user.is_student %}
                        <p class="semestre">Semestre: 10</p>
                        <p class="pensum">Pénsum: 115</p>
                    {% endif %}
                    <p class="email">Email: {{ user.email }}</p>
                    <div class="subcontainer-header">
                        <h3 class="subcontainer-header-title">Dispositivos registrados</h3>
                        <span class="icon icon--medium">
                            <svg class="icon--medium" viewBox="0 0 309.267 309.267">
                                <use class="ic-1" xlink:href="#icon_device_mobile" />
                            </svg>
                        </span>
                    </div>
                    {% if devices_list %}
                        <ul class="devices">
                            <li class="devices-item">
                                <span>ID: 010203040506</span>
                                <span class="icon icon--small">
                                    <object class="icon--small svg" type="image/svg+xml" data="{% static 'images/svg/android.svg' %}">
                                      <!-- fallback with png image for browsers with NO SVG support -->
                                    </object>
                                </span>
                            </li>
                        </ul>
                    {% else %}
                        <p>No hay dispositivos registrados</p>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endblock %}