
{% block main_header %}
    <ul class="links">
        <li class="links-item">
            <a href="#!" title="Mi calendario">
                <span class="icon_container">
                    <svg class="icon icon--medium" viewBox="0 0 309.267 309.267">
                        <use class="ic-1" xlink:href="#icon_calendar" />
                    </svg>
                </span>
            </a>
        </li>
        <li class="links-item">
            <a href="{% url 'timetabling:cursos' %}" title="Mis cursos">
                <span class="icon_container">
                    <svg class="icon icon--medium" viewBox="0 0 309.267 309.267">
                        <use class="ic-1" xlink:href="#icon_books" />
                    </svg>
                </span>
            </a>
        </li>
        <li class="links-item">
            <a href="#!" title="Notificaciones" class="notificaciones">
                <span class="icon_container">
                    <svg class="icon icon--medium" viewBox="0 0 309.267 309.267">
                        <use class="ic-1" xlink:href="#icon-configuraciones" />
                    </svg>
                </span>
            </a>
        </li>
        <li class="links-item">
            <a href="#!" title="Notificaciones" class="notificaciones">
                <span class="icon_container pendiente active">
                    <svg class="icon icon--medium" viewBox="0 0 309.267 309.267">
                        <use class="ic-1" xlink:href="#icon_bullhorn" />
                    </svg>
                </span>
                <span class="icon_container notificaciones-indicador pendiente active">
                    <svg class="icon icon--small" viewBox="0 0 309.267 309.267">
                        <use class="ic-1" xlink:href="#icon_commenting" />
                    </svg>
                </span>
            </a>
        </li>
    </ul>
{% endblock %}