{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>calendario_{{ periodo_examenes_reporte.periodo_tipo_examen.get_tipo_examen_display }}_{{ semestre_academico.anio }}</title>
    <style>
        @page {
            size: letter;
            margin-top: 13%;
            @top-right {
                content: "Página " counter(page) " de " counter(pages);
                font-family: sans-serif;
                font-weight: bold;
                font-size: 0.8rem;
                margin-top: -34%;
            }
        }
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html {
            font-size: 90%;
            text-align: center;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .bold{
            font-weight: bold;
        }
        .container_metadata{
            //overflow: hidden;
            padding-top: .3rem;
        }
        header.header{
            height: 70px;
            //overflow: hidden;
            width: 100%;
            position: relative;
        }
        .header .info_ips{
            float: right;
            width: 80%;
        }
        .header .info_ips h1{
            font-size: 1rem;
        }
        .header .logo{
            float: left;
            width: 20%;
        }
        .header .logo img{
            max-height: 60px;
            margin-left: 10%;
        }
        .separator{
            border-top: 2px solid lightgrey;
        }
        .font--s{
            font-size: .8rem;
        }
        .font--sm{
            font-size: .9rem;
        }
        .font--normal{
            font-size: 1rem;
        }
        .font--l{
            font-size: 1.3rem;
        }
        .container--responsableinfo .firma_imagen{
            float: left;
            margin: 10rem 0;
            padding: 1rem;
            width: 50%;
        }
        .container--responsableinfo.firma_basica{
            display: block;
            text-align: left;
            margin: 10rem 0;
            padding: 1rem;
            width: 100%;
        }
        .container--responsableinfo .detalles{
            display: inline-block;
            text-align: left;
        }
        .container--responsableinfo .detalles p{
            margin: .3rem 0 .4rem 0;
        }
        .inline-block{
            display: inline-block;
        }
        .container--responsableinfo .firma{
            display: block;
            text-align: left;
            width: 100%;
        }
        .container--responsableinfo .firma img{
            max-height: 85px;
        }
        .container--pacienteinfo{
            text-align: left;
        }
        .container--pacienteinfo tr td{
            padding: .3rem 0;
            line-height: 1.3rem;
            vertical-align: text-top;
        }
        .container--pacienteinfo div div{
            display: inline-block;
            float: left;
        }
        .container_results{
            width: 100%;
        }
        .container_results-item{
            margin: 1rem 0;
            padding-right: .5rem;
        }
        .container_results .descripcion_reporte div, .container_results .descripcion_reporte p{
            margin: 2rem auto;
        }
        .table{
            text-align: left;
            width: 100%;
        }
        .table.descripcion .subtitle{
            font-style: italic;
        }
        .table.resultados .resultados-header{
            margin: .5rem 0;
            text-align: center;
            width: 100%;
            position: relative;
        }
        .decorator_tableheader{
            height: 1.25rem;
            margin-top: 2.5rem;
            font-size: 1rem;
            width: 100%;
        }
        .decorator_tableheader--tipo1{
            border: 1px solid black;
            border-radius: 3px;
        }
        .decorator_tableheader--tipo2{
            //border: 1px solid black;
            //border-radius: 3px;
            background: #084A83;
            background: #539DDB;
            //background: #d20f23;
            background: lightslategrey;
            color: white;
        }
        .table.resultados .decorator_tableheader div, .table.resultados .resultados-body p {
            display:inline-block;
            vertical-align: top;
        }
        .table.resultados .resultados-body {
            margin-bottom: .4rem;
            //text-transform: uppercase;
            vertical-align: top;
        }
        .table.resultados .resultados-body td {
            background: white;
            padding: .8rem .4rem;
        }
        .table.resultados .resultados-body:nth-child(2n+1) td {
            background: whitesmoke;
        }
        .table.resultados.bloque_aislado--1{
            margin: 2rem 0;
        }
        .cursiva{
            font-style: italic;
        }
        .blank_writing{
            border-top: 1px solid black;
            height: 2rem;
        }
        .linea_firma{
            border-top: 1px solid black;
            height: 1rem;
        }
    </style>
</head>
<body>
    <div class="container_results">
        <div class="descripcion_reporte">
            <div class="bold" style="width: 100%;">RESOLUCIÓN N° {{ periodo_examenes_reporte.numero_resolucion }}</div>
            <div class="bold" style="width: 100%;">{{ periodo_examenes_reporte.fecha_resolucion }}</div>
            <div class="font--normal" style="width: 100%;">POR LA CUAL SE PROGRAMAN LAS FECHAS DE
                    {{ periodo_examenes_reporte.periodo_tipo_examen.get_tipo_examen_display|upper|default:'_____________________________' }} DEL
                <span class="bold">PLAN DE ESTUDIOS DE INGENIERÍA DE SISTEMAS</span>, CORRESPONDIENTES AL SEMESTRE
                {{ semestre_academico.anio|default:'___________' }} - {{ semestre_academico.periodo|default:'___________' }}.
            </div>
            <div style="width: 100%;text-align: justify;">EL DIRECTOR DEL PLAN DE ESTUDIOS DE INGENIERÍA DE SISTEMAS DE LA UFPS, en uso de sus
                facultades reglamentadas,
            </div>
            <div class="bold" style="width: 100%;">RESUELVE:</div>
            <p style="text-align: justify;">ARTÍCULO PRIMERO: Establecer las fechas de
                {{ periodo_examenes_reporte.periodo_tipo_examen.get_tipo_examen_display|default:'_____________________________' }} correspondientes a los
                estudiantes del Plan de Estudios de <span class="bold">INGENIERÍA DE SISTEMAS</span>.</p>
        </div>
        {% if semestres_examenes %}
            <div class="container_results-item font--s">
                {% for semestre_pensum, examenes_semestre in semestres_examenes.items %}
                    <table class="table descripcion resultados">
                        <tr class="resultados-header">
                            <div class="decorator_tableheader decorator_tableheader--tipo2">
                                <div class="bold" style="width: 100%;">SEMESTRE {{ semestre_pensum }}</div>
                            </div>
                        </tr>
                        {% for examen in examenes_semestre %}
                            <tr class="resultados-body">
                                <td style="width:15%;">{{ examen.plan_de_estudios }}{{ examen.codigo_materia }}-{{ examen.grupo }}</td>
                                <td style="width:40%;text-transform: uppercase;">{{ examen.nombre_materia }}</td>
                                <td style="width:25%;">{{ examen.fecha_presentacion.date }}</td>
                                {% if periodo_examenes_reporte.periodo_tipo_examen.tipo_examen == 4 %}
                                    <td style="width:20%;text-align: center;">-</td>
                                {% else %}
                                    <td style="width:20%;text-align: center;">{{ examen.hora_inicio }} - {{ examen.hora_fin }} {{ examen.salon }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
            <div class="separator"></div>
            <table class="table descripcion resultados bloque_aislado--1" style="width: 100%;">
                <tr>
                    <td>
                        <div class="bold" style="width: 100%;text-align: left;">Esta resolución rige a partir
                            de la fecha de expedición.</div>
                    </td>
                </tr>
            </table>
            <table class="table descripcion resultados bloque_aislado--1" style="width: 100%;">
                <tr>
                    <td>
                        <div class="bold" style="width: 100%;text-align: center;">COMUNÍQUESE Y CÚMPLASE</div>
                    </td>
                </tr>
            </table>
            <div class="container--responsableinfo firma_basica">
                <div class="detalles">
                    <div class="linea_firma"></div>
                    <div class="cursiva">
                        <p class="font--normal bold">{{ user.nombres }} {{ user.apellidos }}</p>
                        <h2 class="font--sm bold">Director de Plan de Estudios de Ingeniería de Sistemas</h2>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No hay exámenes registrados para el período y tipo de calendario solicitado.</p>
        {% endif %}
    </div>
</body>
</html>