{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: letter;
            margin-top: 4%;
        }
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html {
            font-size: 80%;
            text-align: center;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .bold{
            font-weight: bold;
        }
        .container_metadata{
            padding-top: .3rem;
        }
        .uppercase{
            text-transform: uppercase;
        }
        header.header{
            height: 70px;
            width: 100%;
            position: relative;
        }
        .header .info_entidad{
            margin-top: 10px;
            float: right;
            width: 75%;
        }
        .header .info_entidad h1{
            font-size: 1.2rem;
        }
        .header .logo{
            float: left;
            width: 25%;
        }
        .header .logo img{
            max-height: 60px;
            margin-left: 10%;
        }
        .separator{
            border-top: 2px solid lightgrey;
        }
        .font--s{
            font-size: .8rem;
        }
        .font--sm{
            font-size: .9rem;
        }
        .font--l{
            font-size: 1.3rem;
        }
        .container--responsableinfo .detalles p{
            margin: .3rem 0 .8rem 0;
        }
        .container--responsableinfo .firma img{
            max-height: 100px;
        }
        .container--pacienteinfo{
            text-align: left;
            width: 100%;
        }
        .container--pacienteinfo tr td{
            padding: .1rem 0;
            line-height: 1rem;
            vertical-align: text-top;
        }
        .container--pacienteinfo div div{
            display: inline-block;
            float: left;
        }
        .decorator_tableheader{
            border: 1px solid black;
            border-radius: 3px;
            height: 1.25rem;
            width: 100%;
        }
        .table.resultados .decorator_tableheader div, .table.resultados .resultados-body p {
            display:inline-block;
            vertical-align: top;
        }

    </style>
</head>
<body>
    <div class="superheader">
        <div class="separator"></div>
        <div class="container_metadata">
            <header class="header">
                <div class="logo">
                    <img src="{% static 'images/logo_horizontal.png' %}" alt="UFPS">
                </div>
                <div class="info_entidad">
                    <h1>UNIVERSIDAD FRANCISCO DE PAULA SANTANDER</h1>
                    <p class="font--sm">FACULTAD DE INGENIERÍA</p>
                    <p class="font--sm">INGENIERÍA DE SISTEMAS</p>
                </div>
            </header>
        </div>
        <div class="separator"></div>
    </div>
</body>
</html>