
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Inicio{% endblock %}

    {% block main_header %}
        {% include 'docente/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Calendario de exámenes</h1>
        <p class="contexto--app-descripcion">Visualice el calendario de sus exámenes para el semestre en curso.</p>
        <section class="section">
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--2">
                        <label class="label" for="planEstudios">Programa Académico</label>
                        <select id="planEstudios" name="planEstudios" class="input">
                            <option value="15" selected>Ingeniería de Sistemas y Computación</option>
                            <option value="16">Ingeniería Electrónica</option>
                            <option value="19">Ingeniería Industrial</option>
                            <option value="61">Ingeniería Biotecnológica</option>
                        </select>
                    </div>
                </div>
                <button id="filtrarCalendarioDocenteBtn" class="btn btn--dark" type="submit">
                    Filtrar</button>
            </form>
        </section>
        <section class="section calendario">
            <div class="col--left">
                <div class="calendario_container box_container">
                    <div id='calendar' class="calendario"></div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block scripts %}
        <script>var cargarCalendarioVista = true;</script>
    {% endblock %}