
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Mis cursos{% endblock %}

    {% block main_header %}
        {% include 'docente/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Mis cursos</h1>
        <p class="contexto--app-descripcion">Marque como favoritas las materias de las cuales le gustaría recibir notificaciones sobre sus exámenes.</p>
        <section class="section">
            <form class="form form--horizontal" method="GET" action={% url 'docente:cursos' %}>
                <div class="form-grupo">
                    <div class="input_group input_group--2">
                        <label class="label" for="planEstudios">Programa Académico</label>
                        <select id="planEstudios" name="planEstudios" class="input">
                            <option value="115" selected>Ingeniería de Sistemas y Computación</option>
                            <option value="116">Ingeniería Electrónica</option>
                            <option value="119">Ingeniería Industrial</option>
                            <option value="161">Ingeniería Biotecnológica</option>
                        </select>
                    </div>
                </div>
                <button id="filtrarCursosDocente" class="btn btn--dark" type="submit">
                    Filtrar</button>
            </form>
        </section>
        <section class="section cursos">
            {% if cursos_matriculados %}
                <div class="list_container">
                    <ul class="lista_cursos">
                        {% for grupo in cursos_matriculados %}
                            <li class="lista_cursos-item macro_item macro_item--non_full">
                                <span class="info">{{ grupo.plandeestudios }}{{ grupo.codigo }}-{{ grupo.grupo }} {{ grupo.nombre }}</span>
                                <div class="icon_box">
                                    <a href="#!" class="fav_link">
                                        <span class="icon_container">
                                            <svg class="icon icon--medium bg_fav">
                                                <use class="ic-1" xlink:href="#icon_star_full" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="">No tiene cursos matriculados para el semestre actual.</p>
            {% endif %}
            {% if cursos_list %}
                <div class="list_container">
                    <ul class="lista_cursos">
                        {% for curso in cursos_list %}
                            <li class="lista_cursos-item macro_item macro_item--non_full">
                                <span class="info">{{ curso.plandeestudios }}{{ curso.codigo }}-{{ curso.grupo }}: {{ curso.nombre }}</span>
                                <div class="icon_container">
                                    <a href="#!" class="fav_link">
                                        <span class="icon icon--medium">
                                            <svg class="icon--medium bg_fav" viewBox="0 0 309.267 309.267">
                                                <use class="ic-1" xlink:href="#icon_star_full" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </section>
    {% endblock %}