{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <style>
        html{
            font-family: sans-serif;
            font-size: 100%;
            text-align: justify;
        }
        body{
            box-sizing: border-box;
            margin: 0;
        }
        td{
            padding: 1rem;
        }
        table{
            border-collapse: collapse;
            font-size: 1rem;
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
            width: 95%;
            -webkit-text-size-adjust: none;
        }
        .table-header .banner_logo figure .logo{
            width: 75%;
        }
        .table-header .banner_logo .enlace{
            font-size: .8rem;
        }
        .table-content .message .message-title{
            font-size: 1.5rem;
        }
        .table-content .message{
            color: #0f0f0f;
        }
        .table .download{
            background: rgba(226,226,226, .3);
        }
        table.table .table-header{
            border-bottom: 1px solid rgba(226,226,226, .3);
            height: 75px;
            max-height: 75px;
        }
        .table .table-from{
            font-style: italic;
            font-size: .8rem;
        }
    </style>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table wrapper">
		<tr class="table-header">
			<td align="center" class="banner_logo">
                <a href="#!">
                    <figure>
                        <!--<img class="logo" src="{% static 'logo_sistemas_h.png' %}" alt="Programa de Ingeniería de-->
                        <img class="logo" src="../../static/logo_sistemas_h.png" alt="Programa de Ingeniería de
                        Sistemas">
                    </figure>
                </a>
                <a class="enlace" href="//ingsistemas.ufps.edu.co">Sitio Web</a>
			</td>
		</tr>
		<tr class="table-content">
			<td class="message">
                <table>
                    <tr>
                        <td class="message-title">{{ titulo_mensaje }}</td>
                    </tr>
                    <tr>
                        <td align="justify" class="message-body">
                            {{ mensaje }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="download">
                <p>Descargue nuestra aplicación: <a href="#!">Android</a></p>
            </td>
        </tr>
		<tr class="table-from">
			<td>Programa de Ingeniería de Sistemas, Universidad Francisco de Paula Santander</td>
		</tr>
	</table>
</body>
</html>