{% extends 'base.html' %}
{% load static %}
    {% block title %}Khronos{% endblock %}
    {% block svg %}
        <svg class="hidden">
            <symbol id="icon_android" viewBox="0 0 32 32">
                <title>android</title>
                <path class="path1" d="M28 12c-1.1 0-2 0.9-2 2v8c0 1.1 0.9 2 2 2s2-0.9 2-2v-8c0-1.1-0.9-2-2-2zM4 12c-1.1 0-2 0.9-2 2v8c0 1.1 0.9 2 2 2s2-0.9 2-2v-8c0-1.1-0.9-2-2-2zM7 23c0 1.657 1.343 3 3 3v0 4c0 1.1 0.9 2 2 2s2-0.9 2-2v-4h4v4c0 1.1 0.9 2 2 2s2-0.9 2-2v-4c1.657 0 3-1.343 3-3v-11h-18v11z"></path>
                <path class="path2" d="M24.944 10c-0.304-2.746-1.844-5.119-4.051-6.551l1.001-2.001c0.247-0.494 0.047-1.095-0.447-1.342s-1.095-0.047-1.342 0.447l-1.004 2.009-0.261-0.104c-0.893-0.297-1.848-0.458-2.84-0.458s-1.947 0.161-2.84 0.458l-0.261 0.104-1.004-2.009c-0.247-0.494-0.848-0.694-1.342-0.447s-0.694 0.848-0.447 1.342l1.001 2.001c-2.207 1.433-3.747 3.805-4.051 6.551v1h17.944v-1h-0.056zM13 8c-0.552 0-1-0.448-1-1s0.447-0.999 0.998-1c0.001 0 0.002 0 0.003 0s0.001-0 0.002-0c0.551 0.001 0.998 0.448 0.998 1s-0.448 1-1 1zM19 8c-0.552 0-1-0.448-1-1s0.446-0.999 0.998-1c0 0 0.001 0 0.002 0s0.002-0 0.003-0c0.551 0.001 0.998 0.448 0.998 1s-0.448 1-1 1z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_question_circle" viewBox="0 0 27 32">
                <title>question-circle</title>
                <path class="path1" d="M16 24.571v-3.429q0-0.25-0.161-0.411t-0.411-0.161h-3.429q-0.25 0-0.411 0.161t-0.161 0.411v3.429q0 0.25 0.161 0.411t0.411 0.161h3.429q0.25 0 0.411-0.161t0.161-0.411zM20.571 12.571q0-1.571-0.991-2.911t-2.473-2.071-3.036-0.732q-4.339 0-6.625 3.804-0.268 0.429 0.143 0.75l2.357 1.786q0.125 0.107 0.339 0.107 0.286 0 0.446-0.214 0.946-1.214 1.536-1.643 0.607-0.429 1.536-0.429 0.857 0 1.527 0.464t0.67 1.054q0 0.679-0.357 1.089t-1.214 0.804q-1.125 0.5-2.063 1.545t-0.938 2.241v0.643q0 0.25 0.161 0.411t0.411 0.161h3.429q0.25 0 0.411-0.161t0.161-0.411q0-0.339 0.384-0.884t0.973-0.884q0.571-0.321 0.875-0.509t0.821-0.625 0.795-0.857 0.5-1.080 0.223-1.446zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z"></path>
            </symbol>
        </svg>
    {% endblock %}
    {% block main_header %}
        <ul class="links">
            <li class="links-item">
                <a href="#!" title="Descarga la aplicación para Android">
                    <span class="icon_container">
                        <svg class="icon icon--medium" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_android" />
                        </svg>
                    </span>
                </a>
            </li>
            <li class="links-item">
                <a href="#!" title="Ayuda">
                    <span class="icon_container">
                        <svg class="icon icon--medium" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_question_circle" />
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    {% endblock %}

    {% block content %}
        <section class="section login">
            <div class="container_form_login">
                {% csrf_token %}
                <span class="info">Ingrese a la aplicación con su correo institucional UFPS.</span>
                <form class="form">
                    <div class="input_group">
                        <label class="label" for="tipo_usuario_login">Tipo de Usuario</label>
                        <select name="tipo_usuario" id="tipo_usuario_login" class="input">
                            <option value="1">Estudiante</option>
                            <option value="2">Docente</option>
                            <option value="3">Director de Programa</option>
                        </select>
                    </div>
                </form>
                <a id="google_login" class="btn btn--login btn--google" data-onsuccess="onSignIn">
                    <span class="icon_container">
                        <img src="{% static 'images/g-logo.png' %}" alt="Google" class="icon icon--sm">
                    </span>
                    <span class="info">
                        Iniciar sesión
                    </span>
                </a>
            </div>
        </section>
        <section class="section info">
            <div class="info-about">
                <h1 class="about-subtitulo">Khronos</h1>
                <p class="about-descripcion">Software de calendarización de exámenes</p>
            </div>
            <div class="info-descarga_app">
                <a href="#!" title="Descarga la aplicación para Android">
                    <span class="icon_container">
                        <svg class="icon icon--large" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_android" />
                        </svg>
                    </span>
                    <span class="info">
                        Descargar aplicación para Android
                    </span>
                </a>
            </div>
        </section>
    {% endblock %}

    {% block scripts %}
        <script>startApp();</script>
    {% endblock %}